@model JoeysPetStore.Models.Pet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <div class="col-md-2">
        <img src='@Url.Content("~/Content/images/Placeholder-pet.png")' alt="pet" />
        <h3 style="padding-left:5px;" >
            <strong>
               $ @Html.DisplayFor(model => model.Price)
            </strong>
        </h3>
    </div>
    
    <div class="col-md-10">
        <h1>
            <strong>
                @Html.DisplayFor(model => model.Name)
            </strong>
        </h1>


        <h4>
            <strong>
                Description:
            </strong>
        </h4>
        <p>
            @Html.DisplayFor(model => model.Description)
        </p>

        <h4>
            <strong>
                Date Received:
            </strong>
        </h4>

        <p>
            @Html.DisplayFor(model => model.DateRecieved)
        </p>

        <h4>
            <strong>
                Quantity:
            </strong>
        </h4>

        <p>
            @Html.DisplayFor(model => model.Quantity)
        </p>

    </div>
</div>



    <p>

        @Html.ActionLink("Back to List", "Index")
    </p>


